{% extends 'base.html' %}
{% load static %}
{% block title %}Your Shopping Cart{% endblock %}


{% block content %}
{% block extra-style %}{% endblock %}
<style>
        .form-side{/*폼을 왼쪽정렬시킴*/
            float:left;
        }
    .side {/* button side정렬*/
        width:50;
        margin : 0 auto;
    float:left;
    display: inline;
    vertical-align: middle;
    height: 30%;
    float:none! important;
    }

#side-bar{ /* 버튼 속성*/

    margin : 20;
    width:100px;
    height: 50;
}
    </style>

    <form class="form-side">
          <a href="{% url 'gachon_flea:wallet' %}">
              <div id="side"><input type="button" id="side-bar" value="지갑 보기"></div>
          </a>
          <a href="{% url 'gachon_flea:buy_ing' %}">
              <div id="side"><input type="button" id="side-bar" value="진행중인 구매"></div>
          </a>
          <a href="{% url 'gachon_flea:sell_ing' %}">
              <div id="side"><input type="button" id="side-bar" value="진행중인 판매"></div>
          </a>
          <a href="{% url 'cart:cart_detail' %}">
               <div id="side"><input type="button" id="side-bar" value="찜 목록"></div>
          </a>
          <a href="{% url 'gachon_flea:check_review' %}">
              <div id="side"><input type="button" id="side-bar" value="후기 확인"></div>
          </a>
      </form>

    <div class="container">
        <div class="row" style="margin-top: 6%">
        <h2>
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}

                        {% else %}
                        찜목록이 없습니다.
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
            <table class="table table-striped table-hover">
                <thead style="background-color: #5AC8FA">
                    <tr>
                        <th>사진</th>
                        <th>상품명</th>
                        <th>삭제</th>
                        <th>개당 수량</th>
                        <th>가격</th>
                        <th>구매하기</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in cart %}
                    {% with product=item.product  %}
                        <tr>
                            <td>
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.img %} {{ product.img.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </td>
                            <td>{{ product.name }}</td>
                            <td>
                                <a href="{% url 'cart:cart_remove' product.id %}" style="color: #0054FF">삭제하기</a>
                            </td>
                            <td>{{ item.price }}원</td>
                            <td>{{ item.total_price }}원</td>
                            <td><a href="{% url 'gachon_flea:index' %}" class="btn btn-dark">구매하기</a></td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr style="background-color: #5AC8FA">
                    <td><b>총 금액</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b>{{ cart.get_total_price }}원</b></td>
                </tr>
                </tbody>
            </table>
        <p class="text-right">
            <a href="{% url 'gachon_flea:index' %}" class="btn btn-outline-dark">쇼핑 계속하기</a>
        </p>
        </div>
    </div>
{% endblock %}