{%extends "base.html"%}

{% load static %}

{%block title%}Product_detail.html{%endblock%}

{%block content%}

<style>
    h1 {
        background-color: white;
    }
        
    div {
        background-color: white;
    }


</style>



<br><br>

<div class="container">
  <div class="row">
        <div class="col-6">
             <div class="card">
                 <div class="card-body">
                     <div class="col-md-6 text-right">
                         <img src="{% if product.img %} {{ product.img.url }} {% else %} {{ product.img.url }} {% endif %}"
                              alt="..." style="height: 500px; width: auto">
                     </div>
                 </div>
             </div>
        </div>

        <div class="col-4">
            <h3>{{ product.name }}</h3><br>
            <h6>카테고리:<a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6><br><br>
            <h4><p class="text-muted">{{ product.price }} 원</p></h4><br>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }} <br>
                <input type="submit" value="add to cart" class="btn btn-primary">
                <input type="submit" value="구매하기" class="btn btn-primary">
            </form><br>
            <div class="card">
                <p>{{ product.description|safe|linebreaksbr }}</p>
            </div>
        </div>
  </div>
</div>

    <div>
        <h3>판매자 정보</h3>
        <img src="/static/img/like.png">{{ product.owner.profile.good }}  <img src="/static/img/dislike.png"> {{ product.owner.profile.bad }}
    </div>

 <br>
    <div id="disqus_thread"></div>

</div>

{% endblock %}

{% block extra-script %}
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION
*  BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
*  https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    this.page.identifier = '{{ disqus_id }}';
    this.page.url = '{{ disqus_url }}';
    this.page.title = '{{ disqus_title }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
