{%extends "base.html"%}

{% load static %}

{%block title%}Product_detail.html{%endblock%}

{%block content%}

<style>
    h1 {
        background-color: white;
    }
        
    div {
        background-color: white;
    }


</style>



<br><br>
<form enctype="multipart/form-data">
<div class="container" >
  <div class="row">
        <div class="col-6">
             <div class="card">
                 <div class="card-body">
                     <div class="col-md-6 text-right">
                         <img src="{% if product.img %} {{ product.img.url }} {% else %} {{ product.img.url }} {% endif %}"
                              alt="..." style="height: 500px; width: 450px">
                     </div>
                 </div>
             </div>
        </div>

        <div class="col-4">
            <h3>{{ product.name }}</h3><br>
            <h6>카테고리:<a href="{{ product.category.get_absolute_url }}" style="color: #0054FF">{{ product.category }}</a></h6><br><br>
            <h4><p class="text-muted">{{ product.price }} 원</p></h4><br>
            <div class="card">
                <p>{{ product.description|safe|linebreaksbr }}</p>
            </div>
            <div><br><br>
                <h5>판매자 정보</h5>
                 <img src="{% static 'img/like.png' %}" >{{obeject.owner.profile.good }}  <img src="{% static 'img/dislike.png' %}"> {{ obeject.owner.profile.bad }}
            </div>

                <a href="{% url 'gachon_flea:add_cart' product.id %}">
                 <input type="button" value="찜하기" class="btn btn-primary">
                </a>
            <a href="{% url 'gachon_flea:add_buy_list' product.id %}">
                <input type="button" value="구매하기" class="btn btn-primary">
                </a>
        </div>
  </div>
</div>

</form>

 <br>
    <div id="disqus_thread"></div>


{% endblock %}

{% block extra-script %}
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION
*  BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
*  https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
    this.page.identifier = '{{ disqus_id }}';
    this.page.url = '{{ disqus_url }}';
    this.page.title = '{{ disqus_title }}';
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ disqus_short }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
