{% extends "base.html"%}
{% block title %}Search.html{% endblock %}
{% block content %}

      <br/><br/><br/><br/>
    {% if object_list %}

        <section class="section-name padding-y-sm">
            <div class="container">
                <div class="row">
                    {% for item in object_list.all|slice:":4" %}

                        <div class="col-md-3">
                            <div href="#" class="card card-product-grid">
                                <div class="thumbnail">
                                    <a href="{{ item.get_absolute_url }}">
                                        <img src="{{ item.img.thumb_url }}" style="width: 100%;">
                                    </a>
                                </div>
                                <figcaption class="info-wrap">
                                    <a href="{{ item.get_absolute_url }}" class="title" style="font-size:24px;color:blue;"><b>{{ item.name }}</b></a> <!--상품명-->
                                    <div class="price mt-1">{{ item.description }}</div> <!-- 가격 -->
                                </figcaption>
                            </div>
                        </div> <!-- col.// -->

                    {% endfor %}
                </div> <!-- row.// -->
            </div><!-- container // -->
        </section>

    {% elif search_term %}
        <div align="center">
            <br><br><br>
            <b><i>'{{ search_term }}'에 대한 검색 결과가 없습니다.</i></b>
        </div>
    {% endif %}
{% endblock %}