<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Django Web Programming{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    {% block extra-style %}{% endblock %}
</head>

<style>
.search_window {
	display: inline-block;
	width: 366px; height: 40px;
	border: 3px solid #32AAFF;
	background: white;
}
.input_text {
	width: 348px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}
.sch_smit {
	width: 54px; height: 40px;
	margin: 0; border: 0;
	vertical-align: top;
	background: #32AAFF;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
}
.sch_smit:hover {
	background: #32AAFF;
}
</style>
{% block aaaa %}
{% endblock %}
<a href="{% url 'gachon_flea:index' %}">
    <img src="/static/img/gachon.jpg" alt="gachon">
</a>
<!--검색창-->
<form class='search_window' action="/gachon/search/" method="post"> {% csrf_token %}
    <input class='input_text' type="search" placeholder="검색어 입력" name="search_word">
    <br>
    <button type='submit' class='sch_smit'>검색</button>
</form>


            <li class = "nav-item dropdown mx-1 btn btn-primary">
                {% if user.is_active %}
                <a class = "nav-link dropdown-toggle text-white" href="#" data-toggle = "dropdown">
                    <i class = "fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;</a>
                <div class = "dropdown-menu">
                    <a class = "dropdown-item" href="{% url 'gachon_flea:logout' %}">Logout</a>
                    <a class = "dropdown-item" href="{% url 'gachon_flea:mypage' %}">Mypage</a>

                </div>
                {%else%}
                <a class = "nav-link dropdown-toggle text-white"href="#"data-toggle="dropdown">
                    <i class="fas fa-user"></i>&ensp;비회원&ensp;</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item " href="{% url 'gachon_flea:login' %}">로그인</a>
                    <a class="dropdown-item " href="{% url 'gachon_flea:signup' %}">회원 가입</a>
                </div>
                {% endif %}
            </li>

<div class="container">
    {% block content %}{% endblock %}
</div>


{% block footer %}{% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c998a172fe.js"></script>

{% block extra-script %}{% endblock %}

</body>
</html>

