{%extends "base.html"%}

{% load static %}

{%block title%}main.html{%endblock%}

{%block content%}

<style>
        .form-side{/*폼을 왼쪽정렬시킴*/
            float:left;
        }
    .side {/* button side정렬*/
        width:50;
        margin : 0 auto;
    float:left;
    display: inline;
    vertical-align: middle;
    height: 30%;
    float:none! important;
    }

#side-bar{ /* 버튼 속성*/

    margin : 20;
    width:100px;
    height: 50;
}
      table, th  {
        border-spacing: 1cm 2em;
        border: 1px solid #bcbcbc;
      }
      table {
        border-spacing: 1cm 2em;
        border-collapse: separate;
        margin:auto;
        width: 70%;
        height: 200px;
      }
      th{
        padding:20px 5; /* 이 속성으로 구매확정 버튼 100%가 가득안참 */
        text-align: left;
      }
      td {
        padding:20px  0;/* 이 속성으로 구매확정 버튼 100%가 가득안참  padding 0으로 주면 가득참.*/
        margin: auto;
        border: 1px solid #bcbcbc;
      }
</style>

    <form class="form-side">
          <a href="{% url 'gachon_flea:wallet' %}">
              <div id="side"><input type="button" id="side-bar" value="지갑 보기"></div>
          </a>
          <a href="{% url 'gachon_flea:buy_ing' %}">
              <div id="side"><input type="button" id="side-bar" value="진행중인 구매"></div>
          </a>
          <a href="{% url 'gachon_flea:sell_ing' %}">
              <div id="side"><input type="button" id="side-bar" value="진행중인 판매"></div>
          </a>
          <a href="{% url 'gachon_flea:got' %}">
               <div id="side"><input type="button" id="side-bar" value="찜 목록"></div>
          </a>
          <a href="{% url 'gachon_flea:check_review' %}">
              <div id="side"><input type="button" id="side-bar" value="후기 확인"></div>
          </a>


      </form>

    <h1>{{user}}님의 후기목록</h1><br>

    <table border="0">
      <thead>
        <tr>
            <th scope="row", rowspan="2">가천월렛(지갑아이콘 넣고)<br/><!-- 지갑보기 -->
                잔액 : {{ balance }} 원 입니다.</th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <th>
                  후기 목록입니다.
              </th>
          </tr>
          <tr>
              <th>상품명</th>
              <th>판매자</th>
              <th><img src="{% static 'img/like.png' %}" width="30" height="30"></th>
              <th>후기글</th>
              <th>수정</th>
              <th>삭제</th>
          </tr>

          {% for item in object_list %}
          <tr>
              <td>{{ item.product_id }}</td>
              <td>{{ item.product_id.owner }}</td>
              {% if item.evaluation == True %}
              <td>좋아요</td>
              {% else %}
              <td>싫어요</td>
              {% endif %}
              <td>{{ item.content }}</td>
              <td><a href="{% url 'gachon_flea:modify_review' item.id %}">수정</a></td>
              <td><a href="{% url 'gachon_flea:delete_review' item.id %}">삭제</a></td>
          </tr>
          {%endfor%}
      </tbody>
    </table>

{%endblock%}